@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f6;
  font-family: "Poppins", sans-serif;
}

input[type="file"]::file-selector-button {
  background-color: #E0E0E0;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
